body{
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem 16px;
  line-height: 1.5;
  font-weight: 350;
}

h1,h2,h3,h3{
  font-weight: 250;
}

.main_career{
  width: 100%;
  /* margin-left: 20px; */
  /* border: 1px solid black; */
  background-color: rgb(250, 249, 249);
  
}

.career-main {
      width: 97%;
     /* height: 950px; */
      border: transparent;
      outline: none;
      
      background-color:white;
      margin-top: 20px;
      margin-left: 20px;
      
      padding-bottom: 20px;
    
    }

    h1 {
      color: rgb(0, 191, 166);
      margin-left: 40px;
      margin-top: 20px;
      padding-bottom: 10px
      /* margin-bottom: 20px; */
    }

    .firsttt {
      display: flex;
      align-items: center;
      gap:20px;
       /* border: 1px solid black; */
  margin-left: 40px;
    }

    .first_img{
      display: flex;
      align-self: flex-start;
      border-radius: 5px;
    }

   .msg1{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     width: 80%;
     /* height: 300px; */
/* border: 1px solid black; */
   margin-left: 40px;
   align-self: flex-start;
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
   }

   .msg1 ol{
    margin-left: 20px;
   }

   .msg1 li{
      
      padding-bottom: 20px;
  
   }

   .msg1 ul li{
    list-style-type: disc;
    margin-left: -20px;
   }

   .msg1 p{
    font-size: 16px;
    width: 80%;
    text-indent: justify;
    padding-bottom: 20px;
   }

 .msg2{
 width: 80%;;
 /* height: 120px; */
  /* border: 1px solid black; */
 margin-left: 40px;
 }

 .msg2 ol{
  list-style: none;
  padding-bottom: 20px;
 }

 .msg2 ol li{
  padding-bottom: 20px;
 }

 .msg2 ul li{
  list-style: disc;
  margin-left: 40px;
  /* padding-bottom: 20px; */
 }

 .msg2 ol ul li{
  list-style: disc;
  margin-left: 40px;
 }
 .msg3{
 width:80%;
 /* height: 210px; */
  /* border: 1px solid black; */
   margin-left: 40px;
   padding-bottom: 20px;
   
 }

 .msg3 h4 p{
  margin-top: -20px;
  padding-bottom: 20px;
 }

 .ul_li{
  list-style-type: disc;
  
  margin-left: 40px;
  
 }

 .ul_li_li{
  padding-top: 20px;
  list-style: circle;
  margin-left: 60px;

 }

 .msg4{
 width:90%;
 /* height: 120px; */
  /* border: 1px solid black; */
   margin-left: 40px;
  padding-bottom: 20px;
 }

 
 .msg4 h4{
  padding-bottom: 20px;
 }

  
/* 
     ul {
            margin-bottom: 20px; 
 margin-left: 20px;
     
    }   */

    /* ul li {
      margin-bottom: 8px;
    
    } */
    
    .footer-note {
      font-size: 16px;
      padding-bottom: 20px;
      /* color: #555; */
    }

  /* Main Container */

  .divvv1{
    margin-top: 40px;
     width: 100%;
     /* height: 700px; */
     /* border: 1px solid black;  */
     background-color: rgb(249, 241, 241);  
     padding-bottom: 70px;
  }
  .divvv2{
      text-align: center;
      
     /* border: 1px solid black;    */
  }

  .divvv2 h3{
     padding-top: 40px;
     font-weight: bold;
     padding-bottom: 10px;
     font-size: 32px;
  }

  .divvv2 p{
    font-size: 16px;
    padding-bottom: 40px;
  }
 .first-divvv {
     
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 90%;
      /* height: 300px; */
      /* border: 4px solid black; */
      margin-left: 60px;

    }

    .pp-card {
      background: #fff;
      border-radius: 10px;
      width: 250px;
      height: 300px;
      justify-content: space-around;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      /* gap: 20px; */
      /* border: 1px solid black; */
      padding-bottom: 20px;
     
      box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }

    .pp-card:hover {
      transform: translateY(-8px);
    }

    /* .trainer-img {
            border: 1px solid black;

    } */

    .pp-info{
      width: 100%;
      margin-left: 20px;
      flex-wrap: wrap;
  
      flex-direction: column;
    
      /* border-radius: 10px; */
      /* gap: 10px; */
    }

  

    .pp-info-img{
      float: right;
      
      margin-right: 10px;
      
      
    }

    .pp-info h3 {
      font-size: 20px;
      font-weight: bold;
      padding-top: 15px;
    }

    .pp-info p {
      /* color: rgb(68, 68, 68); */
      font-size: 16px;
      
    }

    .pp-info strong{
      font-size: 14px;
      
      
    }

    .pp-info strong p{
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 5px;
      
    }



    .second-divvv{
      
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 20px;
      width: 80%;
      height: 300px;
      /* border: 1px solid black; */
       margin-left: 150px;
    } 
      h5 {
     font-size: 16px;
    

    }
 .btnn{
  width:81px;
  height: 39px;
 background-color: #0d6efd;
 color: white;
 border-radius: 5px;
 border: none;
 font-size: 16px;
 
 }