*{
    padding: 0;
    margin: 0;
}
.page1{
    width: 100%;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7b2bc29;
    /* border: 1px solid black; */
}
.left{
    width: 40%;
    height: 880px;
    margin: 20px 25px;
    margin-bottom: 3rem;
     display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid black; */

}
.right-div{
    width: 60%;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */


}


.contact{
    width: 850px;
    height: 600px;
    margin-top: 2rem;
     /* border: 1px solid rgb(170, 33, 33); */

}
.contact h1{
    font-size: 55px;
    align-items: center;
    margin-left: 3rem;
}

.contact .input-box{
    width: 100%;
    height: 75px;
    /* border: 1px solid rgb(143, 12, 231); */
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-box input{
    width: 40%;
    height: 47px;
    outline: none;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 10px;
    font-size: 30px;
    color: #333;
    background: #FFFFFF;
    padding: 10px 35px 10px 10px;
    
}
.input-box input::placeholder{
    color: #333;
}
.contact .input-box1{
    width: 100%;
    height: 75px;
    /* border: 1px solid rgb(143, 12, 231); */
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.input-box1 input{
     width: 100%;
    height: 47px;
    outline: none;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 10px;
    font-size: 30px;
    color: #333;
    background: #FFFFFF;
    padding: 10px 35px 10px 10px;

}
.input-box1 input::placeholder{
    color: #333;
}
/* ........................message.............................. */
.contact .message{
    width: 100%;
    height: 245px;
    /* border: 2px solid rgb(25, 89, 144); */
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.message input{
     width: 100%;
    height: 200px;
    outline: none;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 10px;
    font-size: 30px;
    color: #333;
    padding: 10px 35px 10px 10px;
   background: #FFFFFF;

} 
.message input::placeholder{
    color: #333;
}
/* ......................submit button............... */

.btn{width: 100%;
    height: 55px;
    display: flex;
    justify-content: end;
    align-items: center;

}
button{
    width: 190px;
    height: 45px;
    border: 1px solid black;
    background: #0D6EFD;
    border: none;
    outline: none;
    margin-top: 1rem;
   font-size: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    color: #fff;
    font-weight: 600;

}


