* {
  padding: 0px;
  margin: 0px;
}

.pop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.popb {
  background-color: white;
  gap: 10px;
  border-radius: 10px;
  height: 418px;
  padding: 25px;
  width: 400px;
}

.papa {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 96%;
}

.banner img {
  width: 100%;
  height: 500px;
}

.can {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 1px;

}

.img img {
  border-radius: 10px;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: -50px;
  z-index: 10;
  position: relative;
}

.c1 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 260px;
  border: 1.5px solid rgb(230, 225, 225);
  font-family: Arial, Helvetica, sans-serif;

  transition: all .5s ease-in 0s;
}
.c1:hover{
  transform: rotateY(-20px);
}

.c1a {
  margin-left: 10px;

}

.c1 img {
  border-radius: 10px 10px 0 0;

}

.cc {
  margin-top: 8px;

}


.cd p {
  display: flex;
  align-items: center;
  color: rgb(75, 74, 74);
  gap: 15px;
  font-size: 14px;
  /* border: 1px solid black; */
  padding: 5px;
}

.ce {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l {
  width: 50%;
  height: 35px;
  background-color: rgb(12, 94, 218);
  color: white;
  border: 1px solid grey;
  border-radius: 0 0 0 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.l:hover {
  background-color: #000000;
  size: 100px;
}

.p:hover {
  size: 100px;
}

.p {
  width: 50%;
  height: 35px;
  border-radius: 0 0 10px 0;
  border: 1px solid rgb(220, 218, 218);
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 13px;
  gap: 10px;
  font-weight: 500;
}

.c1:hover {
  box-shadow: 0 0 25px 0 grey;
  transform: translateY(-10px)
}

.o {
  color: rgb(255, 135, 155);
  font-size: 40px;
}

.an {
  margin-left: 40px;
}

.an h1 {
  display: flex;
  gap: 5px;
  color: black;
  font-size: 40px;
}

.k {
  color: rgb(37, 37, 37);
  padding-top: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  
   margin-top: 50px;
   background-color: white;
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(102, 0, 102), rgb(96, 96, 255));
  color: white;
  width: 270px;
  height: 45px;
  border-radius: 10px;
  gap: 5px;
  font-weight: 600;

}

.but:hover {
  background: linear-gradient(90deg, rgb(96, 96, 255), rgb(102, 0, 102));
}

.back {
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);

 

  font-family: Arial, Helvetica, sans-serif;

}

.tra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.tr {
  background: linear-gradient(90deg, blue, rgb(0, 225, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: Arial, sans-serif;
  font-weight:550;
  font-size: 35px;
}
.change
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(63,67,70);

  font-size: 40px;

}

.oo {
  font-size: 40px;

  border: 2px solid red;
  font-family: Helvetica, sans-serif;
  font-weight:550;
  width: 400px;
  height: 60px;
  color: rgb(0,0,0);

}

.oo p{
  color: rgb(144, 143, 143);

}

.cards-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;

}

.card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-content h3 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: bold;
}

.card-content p {

  font-size: 20px;
  margin: 0 0 12px;
  font-family:Arial, Helvetica, sans-serif;
  color: #444;
  color: black;

  font-size: 15px;
  margin: 0 0 12px;
  color: rgb(69, 68, 68);
  font-weight: 600;
  padding: 0px;
  /* border: 1px solid black; */
  margin: 3px;
}

.car p{
  font-size: 23px;
  color: #252525;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4px;

}

.card-content a {
  font-size: 15px;
  /* font-weight: bold; */
  color: #0073e6;
  text-decoration: none;
  padding-top: 15px;
}

.card-content a:hover {
  text-decoration: underline;
}

.values-section {
  background: linear-gradient(135deg, #040717, #001f3f);
  color: #fff;
  padding: 50px 10%; 
  font-family: Arial, Helvetica, sans-serif;
}

.values-header a {
  color: #a68efc;
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4c8ef7;
  display: inline-block;
  padding-bottom: 4px;
}

.values-header h1 {
  font-size: 33px;
  margin: 15px 0;
  line-height: 1.4;
  font-weight: 200;
  /* border: 1px solid rgb(236, 233, 233); */
  width: 800px;
}

.values-header h1 {
  background: linear-gradient(90deg, blue, rgb(0, 225, 255), yellow, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.values-header p {
  font-size: 16px;
  margin-top: 15px;
  max-width: 800px;
  line-height: 1.6;
  color: #d6d6d6;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
}

.values-content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.experience-box {
  background: #fff;
  color: #0a0f2d;
  border-radius: 10px;
  padding: 25px 10px;
  text-align: center;
  flex: 0 0 200px;
}

.experience-box h2 {
  font-size: 40px;
  color: #22a6f2;
  margin: 0;
}

.experience-box span {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.belief-box {
  max-width: 600px;
}

.belief-box h2 {
  font-size: 27px;
  margin-bottom: 15px;
  color: #e1e1e1;
  margin-left: 0px;
   background: linear-gradient(90deg, blue, rgb(0, 225, 255), yellow, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  /* border: 1px solid white; */
  justify-content: flex-start;
  font-weight: 200;
  display: flex;
   font-family: Arial, Helvetica, sans-serif;
}

.belief-box p {
  font-size: 15px;
  line-height: 1.6;
  color: #cfcfcf;
}



.beliefs-section {
  background: linear-gradient(135deg, #05091e, #0b2542);
  color: #fff;
  padding: 50px 10%;
  font-family: Arial, sans-serif;
  margin-top: -45px;
}

.belief-row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.stat-box {
  background: #fff;
  color: #0a0f2d;
  border-radius: 10px;
  padding: 25px 10px;
  text-align: center;
  flex: 0 0 200px;
}

.stat-box h2 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.stat-box h2.blue {
  color: #22a6f2;
}

.stat-box h2.pink {
  color: #ff4fa2;
}

.stat-box span.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
}

.stat-box p {
  font-size: 14px;
  margin-top: 8px;
}

.belief-text {
  max-width: 650px;
}

.belief-text h3 {
  font-size: 27px;
  margin-bottom: 10px;
  color: #e1e1e1;
   font-family: Arial, Helvetica, sans-serif;
   background: linear-gradient(90deg, blue, rgb(0, 225, 255), yellow, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 200;
}

.belief-text p {
  font-size: 15px;
  line-height: 1.6;
  color: #cfcfcf;
  /* border: 1px solid white; */
  width: 600px;
}

.domain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
}

.domain p {
  display: flex;
  gap: 5px;
}
.domain h1{
  color: black;
}

.do h1 {
  /* color: cyan; */
   background: linear-gradient(90deg, rgb(69, 131, 245), rgb(110, 242, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.ex{
  font-size: 16px;
  /* border: 1px solid black; */
  padding-top: 7px;
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 20px;
}

.courses-section {
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 55px;
  padding: 30px 10%;
  /* border: 1px solid black; */
   font-family: Arial, Helvetica, sans-serif;
}

.course-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  height: 150px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.505);
}

.course-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
  border-radius: 5px;
}

.course-card h4 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}


.corporate-section {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 50px 10%;
  background: #1e1e1e;
  color: #fff;
  /* gap: 50px; */
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.corporate-content {
  flex: 1;
  min-width: 300px;
  /* border: 1px solid white; */
  margin-right: 50px;
}

.corporate-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-left: -2px;
  color: white;
  font-weight: 200;
  margin-right: 60px;
}

.corporate-content .highlight {
  color: #4a90e2;
  font-size: 30px;
   background: linear-gradient(90deg, rgb(69, 131, 245), rgb(110, 242, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.corporate-content p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #d6d6d6;
  padding: 10px;
 /* border: 1px solid white; */
}

.view-more {
  font-size: 14px;
  font-weight: bold;
  color: #4a90e2;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.view-more:hover {
  text-decoration: underline;
}

.btn-box {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  background: linear-gradient(90deg, rgb(102, 0, 102), rgb(96, 96, 255));
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  width: 120px;
  height: 20px;
}

.btn:hover {
  opacity: 0.9;
}

.corporate-image {
  flex: 1;
  min-width: 300px;
  text-align: right;
  /* border: 1px solid white; */
}

.corporate-image img {
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid white;
}




.logo-section {
  text-align: center;
  padding: 50px 20px;
  background: #fdfdfd;
}

.logo-section h2 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.logo-grid img {
  height: 60px;
  max-width: 140px;
  object-fit: contain;
  filter: grayscale(20%);
  transition: 0.3s ease-in-out;
}

.logo-grid img:hover {
  filter: none;
  transform: scale(1.05);
}


.home-review {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-review1 {

  width: 50%;
  height: 900px;
  /* border: 1px solid black; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif ;
  font-weight: 100;
 
}

.home-review1 span {
  position: relative;
  left: 60px;
  font-size: 18px;
   font-family: Arial, sans-serif ;
}

.home-review1 h1 {
  font-size: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  left: 60px;
  color:black;

}

.home-review2 {

  width: 50%;
  height: 900px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content:start;
  flex-wrap: wrap;
  gap: 30px;
}
.home-one{
  width: 40%;
  height: 50%;
  /* border: 1px solid red; */
  position: relative;
  top: 50px;
  box-shadow: 2px 2px 20px 2px black;
}
.home-one p{
  position: relative;
  left: 30px;
  top: 30px;
}
.home-two{
  width: 40%;
  height: 430px;
  /* border: 1px solid red; */
  box-shadow: 2px 2px 20px 2px black;
}
.home-two p{
  position: relative;
  left: 30px;
  top: 30px;
}
.home-three{
  width: 40%;
  height: 35%;
  /* border: 1px solid red; */
  box-shadow: 2px 2px 20px 2px black;
}
.home-three p{
  position: relative;
  left: 30px;
  top: 30px;
}
.home-four{
  width: 40%;
  height: 420px;
  /* border: 1px solid red; */
  box-shadow: 2px 2px 20px 2px black;
}
.home-four p{
  position: relative;
  left: 30px;
  top: 30px;
}



.blog-section {
  text-align: center;
  padding: 40px 20px;
  background-color: rgb(247, 247, 247);
  font-family: Arial, sans-serif;
}

.blog-section h2 {
  font-size: 32px;
  font-weight: 550;
  margin-bottom: 10px;
}
.blog-section span {
  font-size: 34px;
  font-weight: 550;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}


.blog-section .highlight {
  color: #00c3a5; /* teal like in your screenshot */
  font-size: 25px;
}

.blog-section p {
  color: #555;
  margin-bottom: 30px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 100px;
  justify-content: center;
  padding: 50px ;
}

.blog-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-img {
  width: 150px;
  height: 80px;
  border-radius: 8px;
  margin-right: 15px;
  object-fit: cover;
}

.blog-content {
  text-align: left;
  flex: 1;
}

.blog-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.read-more {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}







/* .courses-section {
  text-align: center;
  padding: 50px 20px;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

.courses-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.courses-section .highlight {
  color: #00c3a5;
}

.courses-section p {
  color: #555;
  margin-top: -50px;
  margin-bottom: 40px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  max-width: 1100px;
  margin: 0 auto;
}

.course-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.course-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl; 
  transform: rotate(180deg);
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0 0 6px 6px;
}

.text-card {
  background: linear-gradient(135deg, #001f3f, #001933);
  color: #00ffb2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-card h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.4;
}
.text-card {
  background-color: #000; 
  color: #00ffb2;   
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  grid-row: span 2;  
  min-height: 90%; 
}

.text-card h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
} */
 .learning-head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
.learning-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.learning-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.learning-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Vertical label */
.learning-label {
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0 0 6px 6px;
}

/* Highlight text card */
.learning-highlight {
  background: #000;
  color: #00ffb2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  grid-row: span 2; /* makes it taller */
  min-height: 90%; 
}

.learning-highlight h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}


.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 100px;
  font-family: Arial, sans-serif;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info h2 {
  font-size: 30px;
  margin-bottom: 10px;
  position: relative;
  left: -30px;
  justify-content: flex-start;
  font-family:Arial, sans-serif;
  display: flex;
  margin-left: 30px;
  font-size: 33px;
}

.contact-info .highlight {
  color: rgb(179, 7, 179);
  font-size: 33px;
}

.contact-info p {
  margin-bottom: 20px;
  color: #555;
  font-size: 18px;
}

.info-item {
  margin: 15px 0;
  font-size: 30px;
}

.info-item strong {
  display: inline-block;
  width: 90px;
  font-size: 20px;
}
.info-item span{
    font-size: 18px;
    font-weight: 200;
}

.contact-map {
  flex: 1;
}

.contact-map iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  min-height: 300px;
}
