* {
  padding: 0px;
  margin: 0px;
}

.facultydiv1 {
  width: 100%;
  height: 830px;
  background-color: rgb(250, 251, 255);
  border-radius: 5px;
}

.facultydiv1a {
  display: flex;
  width: 98%;
  height: 80px;
  margin: 20px;
  border-radius: 10px;
}

.facultydiv1a1 {
  width: 50%;
  height: 80px;
 /* border: 4px solid green; */
}

.facultydiv1a1 h2 {
  position: relative;
  top: 10px;
  right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
   /* border: 4px solid rgb(212, 94, 21); */
   height: 2px;
   align-items: center;
   padding: 20px;
}

.facultydiv1a1 p {
  position: relative;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: gray;
}

.facultydiv1a2 {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 80px;

}

.facultydiv1a2-box {
  gap: 20px;
  width: 280px;
  height: 50px;
  border: 1px solid rgb(168, 165, 165);
  border-radius: 10px;
  border: 1px solid gray;
}

.facultydiv1a2-box svg {
  position: relative;
  top: 3px;
  left: 10px;
  margin-left: 8px;
}

.facultydiv1a2-box input {

  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  position: relative;
  left: 20px;
  background-color: rgb(250, 251, 255);
  font-size: 17px;
  color: gray;
}
.facultydiv1b
{
  display:flex;
  align-items: center;
  width: 98%;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);

}
.facultydiv1b1
{
  display: flex;
  width:50%;
  height: 150px;


}
.facultydiv1b1a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 150px;
 
 
}
.facultydiv1b1abox
{
display: flex;
align-items: center;
justify-content: center;
  width:50px;
  height:50px;
  background: linear-gradient(270deg,rgb(57,138,229),rgb(39,183,125));
  border-radius: 50%;
  
}
.facultydiv1b1b
{
  width:90%;
  height: 150px;
  /* border: 4px solid green; */
  
}
.facultydiv1b1b ul{
  position: relative;
  /* top: 20px; */
  list-style-type: none;
  /* line-height: 23px; */

  height: 100px;
}
.facultydiv1b1b ul li{
  font-family: Arial, Helvetica, sans-serif;
  height: 25px; 

}
.facultydiv1b1b ul li h2{
  font-size:21px;
  display: flex;
  position: relative;
  right: 20px;
   /* border: 4px solid rgb(128, 49, 0); */
   padding: 20px;
   height: 2px ;
   align-items: center;
}

.facultydiv1b1b ul li p{
  color: gray;
   /* border: 4px solid rgb(73, 0, 128); */
   margin-top: 20px;
   margin-bottom: 10px;
}
#facultyFirstbutton
{
  width: 80px;
  height: 30px;
  border:none;
  color: rgb(53,84,185);
  background-color: rgb(219,234,254);
  border-radius: 5px;
  font-size: medium;
 
}
#facultySecondbutton
{
  width: 100px;
  height: 30px;
  border:none;
  color: rgb(116,46,174);
  background-color: rgb(243,232,255);
  border-radius: 5px;
  font-size: medium;
}
.facultydiv1b2
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 150px;
   
  
}
.facultydiv1b2box1
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 60px;

}
.facultydiv1b2box1 ul{
  list-style-type: none;
  position: relative;
  top: 4px;

  height: 40px;
  width:120px;
 
}
.facultydiv1b2box1 ul li{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 18px;

}
#facultydarkparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;


}
#facultylightparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176,179,188);
  font-size: 14px;
}
.facultydiv1b2box2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:220px;
  height:60px;
}
#facultywithoutborder1
{
  width: 60px;
  border-radius: 15px;
  color: rgb(22,101,52);
  background-color:rgb(241,253,246);
  height: 25px;
  border: none;
  outline: none;
  font-weight: 550;
  font-size: 16px;
 
}
#facultywithoutborder1:hover{
  background-color: rgb(63,69,85);
}
#facultywidthborder1
{
  width: 120px;
  height: 40px;
  border: 1px solid rgb(168, 168, 168);
  background-color: white;
  border-radius: 5px;
  font-size:16px;
  font-weight: 550;
  color: black;
}
#facultywidthborder1:hover{
  background-color: rgb(241,245,249);
}



.facultydiv1c
{
  display:flex;
  align-items: center;
  width: 98%;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);

}
.facultydiv1c1
{
  display: flex;
  width:50%;
  height: 150px;
}
.facultydiv1c1a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 150px;
 
 
}
.facultydiv1c1abox
{
display: flex;
align-items: center;
justify-content: center;
width:50px;
height:50px;
background: linear-gradient(270deg,rgb(57,138,229),rgb(39,183,125));
border-radius: 50%;
  
}
.facultydiv1c1b
{
  width:90%;
  height: 150px;
  /* border: 4px solid green; */

}
.facultydiv1c1b ul{
  position: relative;
  /* top: 20px; */
  list-style-type: none;
  line-height: 23px;

  height: 100px;
}
.facultydiv1c1b ul li{
  font-family: Arial, Helvetica, sans-serif;
  height: 25px; 

}
.facultydiv1c1b ul li h2{
  font-size:21px;
  display: flex;
  position: relative;
  right:30px;
  align-items: center;
   /* border: 4px solid rgb(128, 0, 13); */
   height: 2px;
   padding: 20px;
   
}
.facultydiv1c1b ul li p{
  color: gray;
   /* border: 4px solid rgb(41, 0, 128); */
 /* margin-top: 20px; */
 
}
#facultyFirstbutton
{
  width: 80px;
  height: 30px;
  border:none;
  color: rgb(53,84,185);
  background-color: rgb(219,234,254);
  border-radius: 5px;
}
#facultySecondbutton
{
  width: 100px;
  height: 30px;
  border:none;
  color: rgb(116,46,174);
  background-color: rgb(243,232,255);
  border-radius: 5px;
}
.facultydiv1c2
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 150px;
   
  
}
.facultydiv1c2box1
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 60px;

}
.facultydiv1c2box1 ul{
  list-style-type: none;
  position: relative;
  top: 4px;

  height: 40px;
  width:120px;
 
}
.facultydiv1c2box1 ul li{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 18px;

}
#facultydarkparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;


}
#facultylightparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176,179,188);
  font-size: 14px;
}
.facultydiv1c2box2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:220px;
  height:60px;
}
#facultywithoutborder1
{
  width: 60px;
  border-radius: 15px;
  color: rgb(22,101,52);
  background-color:rgb(241,253,246);
  height: 25px;
  border: none;
  outline: none;
  font-weight: 550;
 
}
#facultywithoutborder1:hover{
  background-color: rgb(63,69,85);
}
#facultywidthborder1
{
  width: 120px;
  height: 40px;
  border: 1px solid rgb(168, 168, 168);
  background-color: white;
  border-radius: 5px;
  font-size:16px;
  font-weight: 550;
  
}
#facultywidthborder1:hover{
  background-color: rgb(241,245,249);
}


.facultydiv1d
{
  display:flex;
  align-items: center;
  width: 98%;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);

}
.facultydiv1d1
{
  display: flex;
  width:50%;
  height: 150px;


}
.facultydiv1d1a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 150px;
 
 
}
.facultydiv1d1abox
{
display: flex;
align-items: center;
justify-content: center;
  width:50px;
  height:50px;
  background: linear-gradient(270deg,rgb(57,138,229),rgb(39,183,125));
  border-radius: 50%;
  
}
.facultydiv1d1b
{
  width:90%;
  height: 150px;
 

}
.facultydiv1d1b ul{
  position: relative;
  top: 20px;
  list-style-type: none;
  line-height: 23px;

  height: 100px;
}
.facultydiv1d1b ul li{
  font-family: Arial, Helvetica, sans-serif;
  height: 25px; 

}
.facultydiv1d1b ul li h2{
  font-size:21px;
  display: flex;
   position: relative;
  right:30px;
}
.facultydiv1d1b ul li p{
  color: gray;
}
#facultyFirstbutton
{
  width: 80px;
  height: 30px;
  border:none;
  color: rgb(53,84,185);
  background-color: rgb(219,234,254);
  border-radius: 5px;
}
#facultySecondbutton
{
  width: 100px;
  height: 30px;
  border:none;
  color: rgb(116,46,174);
  background-color: rgb(243,232,255);
  border-radius: 5px;
}
.facultydiv1d2
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 150px;
   
  
}
.facultydiv1d2box1
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 60px;

}
.facultydiv1d2box1 ul{
  list-style-type: none;
  position: relative;
  top: 4px;

  height: 40px;
  width:120px;
 
}
.facultydiv1d2box1 ul li{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 18px;

}
#facultydarkparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;


}
#facultylightparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176,179,188);
  font-size: 14px;
}
.facultydiv1d2box2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:220px;
  height:60px;
}
#facultywithoutborder1
{
  width: 60px;
  border-radius: 15px;
  color: rgb(22,101,52);
  background-color:rgb(241,253,246);
  height: 25px;
  border: none;
  outline: none;
  font-weight: 550;
 
}
#facultywithoutborder1:hover{
  background-color: rgb(63,69,85);
}
#facultywidthborder1
{
  width: 120px;
  height: 40px;
  border: 1px solid rgb(168, 168, 168);
  background-color: white;
  border-radius: 5px;
  font-size:16px;
  font-weight: 550;
}
#facultywidthborder1:hover{
  background-color: rgb(241,245,249);
}



.facultydiv1e
{
  display:flex;
  align-items: center;
  width: 98%;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);

}
.facultydiv1e1
{
  display: flex;
  width:50%;
  height: 150px;


}
.facultydiv1e1a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 150px;
 
 
}
.facultydiv1e1abox
{
display: flex;
align-items: center;
justify-content: center;
  width:50px;
  height:50px;
  background: linear-gradient(270deg,rgb(57,138,229),rgb(39,183,125));
  border-radius: 50%;
  
}
.facultydiv1e1b
{
  width:90%;
  height: 150px;
 

}
.facultydiv1e1b ul{
  position: relative;
  top: 20px;
  list-style-type: none;
  line-height: 23px;

  height: 100px;
}
.facultydiv1e1b ul li{
  font-family: Arial, Helvetica, sans-serif;
  height: 25px; 

}
.facultydiv1e1b ul li h2{
  font-size:21px;
  display: flex;
   position: relative;
  right:30px;
}
.facultydiv1e1b ul li p{
  color: gray;
}
#facultyFirstbutton
{
  width: 80px;
  height: 30px;
  border:none;
  color: rgb(53,84,185);
  background-color: rgb(219,234,254);
  border-radius: 5px;
}
#facultySecondbutton
{
  width: 100px;
  height: 30px;
  border:none;
  color: rgb(116,46,174);
  background-color: rgb(243,232,255);
  border-radius: 5px;
}
.facultydiv1e2
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 150px;
   
  
}
.facultydiv1e2box1
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 60px;

}
.facultydiv1e2box1 ul{
  list-style-type: none;
  position: relative;
  top: 4px;

  height: 40px;
  width:120px;
 
}
.facultydiv1e2box1 ul li{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 18px;

}
#facultydarkparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;


}
#facultylightparagraph
{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176,179,188);
  font-size: 14px;
}
.facultydiv1e2box2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:230px;
  height:60px;
}
#facultywithoutborder2
{
  width: 70px;
  border-radius: 15px;
  color: rgb(133,77,14);
  background-color:rgb(184, 182, 171);
  height: 25px;
  border: none;
  outline: none;
  font-weight: 550;
  font-size: 15px;
 
}
#facultywithoutborder2:hover{
  background-color: rgb(63,69,85);
}
#facultywidthborder2
{
  width: 120px;
  height: 40px;
  border: 1px solid rgb(168, 168, 168);
  background-color: white;
  border-radius: 5px;
  font-size:16px;
  font-weight: 550;
  color: black;
}
#facultywidthborder2:hover{
  background-color: rgb(241,245,249);
}