*{
    padding: 0;
    margin: 0;
}
.logsign{ background-color: yellow;
    width: 100%;
    height: auto;
        background-color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;

}
.login{border: 4px solid rgb(128, 77, 0);
    width:500px;
    height: 600px;
    border-radius: 7px;
    background-color: white;
    margin-top: 6rem;

}
.sl ul{width: 500px;
    height: 50px;
    list-style: none;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.3rem;
    gap: 3rem;
}
h2{
    margin-top: 0.20rem ;
    margin-left: 2rem;

}
.input{ display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

   
    input{
        width: 350px;
        height: 60px;
        font-size: 1rem;
       text-align: center;
        margin-top: 2.34rem;
        border-radius: 10px ;
        border: 1px solid rgb(212, 209, 209);
        
        flex-direction: column;
    }
}
.checkbox{
    width: 500px;
    height: 30px;
    gap: 0.42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.55rem;
}
.button{   width: 100%;
    height: 40px;
    margin-top: 1.5rem;
     display: flex;
    justify-content: center;
    align-items: center;
     button{
        width: 350px;
        height: 38px;
        border: none;
        font-size: larger;
        border-radius: 10px;
    background-color: #0d6efd;
    color: #ffffff;
    }
}
.para{
    width: 500px;
    height: 20px;
    text-align: end;
    
    color: brown;
    margin-right: 2rem;

}


.sp{
    background-color: lightblue;
}

.lp{
    
    background-color: rgb(227, 149, 200);
}