
    .pra-div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 700px;
      gap: 20px;
        background-color: rgb(250, 255, 255);
    }

    .content {
      width: 70%;
      height: 560px;
      background: white;
      margin-top: 30px;
       border: 1px solid lightgray;
            /* border: 1px solid black; */
        padding: 30px;
        font-size: 15px;
       font-family: Arial, Helvetica, sans-serif;
    }

    .content a{
      font-size: 28px;
      margin-bottom: 15px;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      font-weight: 600;
    }

    .content h6 {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    .content p {
      font-size: 15px;
      margin-bottom: 15px;
      color: #333;
    }

    .enquiry {
       width: 200px;
      height: 360px;
        margin-top: 50px;
      background: rgb(252, 250, 250);
             border: 1px solid #a3a1a1;
             border-radius: 5px;
            /* border: 1px solid rgb(203, 203, 203); */

    }

    .enquiry h5{
      background: rgb(34, 34, 34);
      color: rgb(255, 255, 255);
     width: 190px;
     height: 30px;
      font-size: 20px;
      padding-left: 10px;
      padding-top: 10px;
      font-weight: 300;
       border-radius: 5px;
    }
 
     .enquiry input {
      width: 150px;
      margin-left: 15px;
      margin-top: 20px;
      margin-bottom: 15px;
      border: 1px solid gray;
      border-radius: 5px;
      font-size: 15px;
      padding: 10px;
      background-color: white;
    }


 .button1{
   margin-left: 90px;
   background-color: rgb(0, 128, 255);
   width: 100px;
   height: 40px;
   border-radius: 5px;
   border: 1px solid rgb(0, 128, 255);
   color: white;
 }
   .div3 {
  width: 100%;
  height: 900px;
  background-color: rgb(248, 248, 248);
  display: flex;
  /* align-items: center;
  justify-content: center; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
    gap: 50px;
}

/* .box{
  width: 100%;
  height: 200px;
  background-color: blue;
} */

.div3a {
 
  display: flex;
  align-self: flex-start;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  width: 100%;
  height: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.div3b {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.div3c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 20px;   
  width:100%;
  height: 300px;
 
  

}

.div3c1 {
  width: 190px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  transition: all 1s ease-in 0s;
  
   
}
.div3c1:hover{
  transform: translateY(-20px);
   box-shadow:5px 5px 5px 5px gray;
}
.div3c1a {
  width: 100%;
  height: 120px;
  border-radius: 10px;
 
}

.div3c1a img {
  width: 190px;
  height: 120px;
  border-radius: 5px;
}

.div3c1b {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 178px;
  height: 30px;

}

.div3c1c {

  width: 100%;
  height: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div3c1c p {
   position: relative;
  left: 16px; 

}

.div3c1d {
  width: 100%;
  height: 25px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div3c1d p {
  position: relative;
  left: 17px;
}

.div3c1e {
  display: flex;
  align-items: end;
  width: 100%;
  height: 20px;
  font-size: small;
}

.div3c1e p {
  position: relative;
  left: 17px;
}

.div3c1f {
  display: flex;
  width: 100%;
  height: 20px;

}

.div3c1f1 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 35px;
  height: 25px;

}

.div3c1f1 img {
  width: 20px;
  height: 20px;

}

.div3c1f2 {
  display: flex;
  align-items: end;

  width: 150px;
  height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.div3c1g {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 95px;
  height: 26px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;

}

.div3c2 {
  position: relative;
  bottom: 25px;
  width: 190px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
  transition: all 1s ease-in 0s;
}
.div3c2:hover{
 transform: translateY(-20px);
   box-shadow:5px 5px 5px 5px gray;
}
.div3c2a {
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.div3c2a img {
  width: 190px;
  height: 120px;
  border-radius: 5px;
}

.div3c2b {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 178px;
  height: 30px;

}
.div3c2c {
  width: 100%;
  height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div3c2c p {
  position: relative;
  left: 16px;

}

.div3c2e {
  display: flex;
  align-items: end;
  width: 100%;
  height: 20px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}

.div3c2e p {
  position: relative;
  left: 17px;
}

.div3c2f {
  display: flex;
  width: 100%;
  height: 20px;

}

.div3c2f1 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 35px;
  height: 25px;

}

.div3c2f1 img {
  width: 20px;
  height: 20px;

}

.div3c2f2 {
  display: flex;
  align-items: end;

  width: 150px;
  height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}







.div3c3 {
  width: 190px;
  height: 270px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  bottom: 15px;
   transition: all 1s ease-in 0s;
}
.div3c3:hover{
   transform: translateY(-20px);
   box-shadow:5px 5px 5px 5px gray;
}
.div3c3a {
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.div3c3a img {
  width: 190px;
  height: 120px;
  border-radius: 5px;
}

.div3c3b {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 178px;

  height: 30px;

}

.div3c3c {

  width: 100%;
  height: 25px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div3c3c p {
  position: relative;
  left: 16px;

}



.div3c3e {
  display: flex;
  align-items: end;
  width: 100%;
  height: 20px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}

.div3c3e p {
  position: relative;
  left: 17px;
}

.div3c3f {
  display: flex;
  width: 100%;
  height: 20px;

}

.div3c3f1 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 35px;
  height: 25px;

}

.div3c3f1 img {
  width: 20px;
  height: 20px;

}

.div3c3f2 {
  display: flex;
  align-items: end;

  width: 150px;
  height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.div3c3g {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 95px;
  height: 26px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;

}





.div3c4 {
  width: 190px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
   position: relative;
   bottom: 25px;  
   transition: all 1s ease-in 0s;
   
}
.div3c4:hover{
   transform: translateY(-20px);
   box-shadow:5px 5px 5px 5px gray;
}
.div3c4a {
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
.div3c4a img {
  width: 190px;
  height: 120px;
  border-radius: 5px;
}
.div3c4b {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 178px;
  height: 30px;
}
.div3c4c {
  width: 100%;
  height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div3c4c p {
  position: relative;
  left: 16px;

}
.div3c4e {
  display: flex;
  align-items: end;
  width: 100%;
  height: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}
.div3c4e p {
  position: relative;
  left: 17px;
}

.div3c4f {
  display: flex;
  width: 100%;
  height: 20px;

}

.div3c4f1 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 35px;
  height: 25px;

}

.div3c4f1 img {
  width: 20px;
  height: 20px;

}

.div3c4f2 {
  display: flex;
  align-items: end;

  width: 150px;
  height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}


.div3c5 {
width: 190px;
height: 250px;
border-radius: 10px;
background-color: white;
position: relative;
bottom: 25px;
transition: all 1s ease-in 0s;
}
.div3c5:hover{
   transform: translateY(-20px);
   box-shadow:5px 5px 5px 5px gray;
}
.div3c5a {
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.div3c5a img {
  width: 190px;
  height: 120px;
  border-radius: 5px;
}

.div3c5b {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 178px;
  height: 30px;

}
.div3c5c {
  width: 100%;
  height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div3c5c p {
  position: relative;
  left: 16px;

}

.div3c5e {
  display: flex;
  align-items: end;
  width: 100%;
  height: 20px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}

.div3c5e p {
  position: relative;
  left: 17px;
}

.div3c5f {
  display: flex;
  width: 100%;
  height: 20px;

}

.div3c5f1 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 35px;
  height: 25px;

}

.div3c5f1 img {
  width: 20px;
  height: 20px;

}

.div3c5f2 {
  display: flex;
  align-items: end;

  width: 150px;
  height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

