
.box{
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
    /* border: 1px solid black; */
}

.bnav{
    width: 100%;
    /* background-color: lightblue; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    cursor: pointer;
}
.bnav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    list-style: none;
}
.bnav ul li:hover{
    text-decoration: underline;
    color: blue;
}
.t1{
    width: 100%;
    height: 800px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.t2{
    width: 100%;
    height: 800px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.t3{
    width: 100%;
    height: 400px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.t4{
    width: 100%;
    height: 800px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.t5{
    width: 100%;
    height: 400px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.t6{
    width: 100%;
    height: 400px;
    /* background-color: lightcyan; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.c1{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    border-radius: 10px;
    width: 260px;
    border: 1px solid grey;
    transition: transform 0.3s;
}
.c1:hover{
    box-shadow: 0 0 25px 0 grey;
    transform: translateY(-10px) ;
   
    
}
