*{
  padding: 0px;
  margin: 0px;
}
.salarybox1
{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  
}
.salarybox1div1
{
  display: flex;
  width: 23%;
  height:90px;
  border-radius: 10px;
  background-color: rgb(27,177,82);
}
.salarybox1div1a
{
  display: flex;
  align-items: center;
  width: 50%;
  height: 90px;
  
}
.salarybox1div1a ul{
  width: 100%;
  height:80px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
#salarysmall
{
  display: flex;
  align-items: end;
  height:35px;
  font-family: Arial, Helvetica, sans-serif;
   position: relative;
   left: 10px;
   color: rgb(233,249,239);

}
#salarylarge
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:27px;
   font-weight: bold;
   position: relative;
   left: 10px;
   color:rgb(255,255,255);

}
.salarybox1div1b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 90px;
 
}
.salarybox1div1b svg{
  position: relative;
  right: 15px;
  color:rgb(209,239,220);
}
.salarybox1div2
{
   background-color: rgb(49,115,241);
  display: flex;
  width: 23%;
  height:90px;
  border-radius: 10px;
}
.salarybox1div2a
{
   
  display: flex;
  align-items: center;
  width: 50%;
  height: 90px;
  
}
.salarybox1div2a ul{
  width: 100%;
  height:80px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
#salarysmall
{
  display: flex;
  align-items: end;
  height:35px;
  font-family: Arial, Helvetica, sans-serif;
   position: relative;
   left: 10px;
   color: rgb(233,249,239);

}
#salarylarge
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:27px;
   font-weight: bold;
   position: relative;
   left: 10px;
   color:rgb(255,255,255);

}
.salarybox1div2b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 90px;
}
.salarybox1div2b svg{
  position: relative;
  right: 15px;
  color:rgb(209,239,220);
}
.salarybox1div3
{
  display: flex;
  width: 23%;
  height:90px;
 background-color: rgb(158,68,241);
  border-radius: 10px;
}

.salarybox1div3a
{
   
  display: flex;
  align-items: center;
  width: 50%;
  height: 90px;
  
}
.salarybox1div3a ul{
  width: 100%;
  height:80px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
#salarysmall
{
  display: flex;
  align-items: end;
  height:35px;
  font-family: Arial, Helvetica, sans-serif;
   position: relative;
   left: 10px;
   color: rgb(233,249,239);

}
#salarylarge
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:27px;
   font-weight: bold;
   position: relative;
   left: 10px;
   color:rgb(255,255,255);

}
.salarybox1div3b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 90px;
 
 
}
.salarybox1div3b svg{
  position: relative;
  right: 15px;
  color:rgb(209,239,220);
}



.salarybox1div4
{
  display: flex;
  width: 23%;
  height:90px;
background-color: rgb(243,142,17);
  border-radius: 10px;
}

.salarybox1div4a
{
   
  display: flex;
  align-items: center;
  width: 50%;
  height: 90px;
  
}
.salarybox1div4a ul{
  width: 100%;
  height:80px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
#salarysmall
{
  display: flex;
  align-items: end;
  height:35px;
  font-family: Arial, Helvetica, sans-serif;
   position: relative;
   left: 10px;
   color: rgb(233,249,239);
  

}
#salarylarge
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:27px;
   font-weight: bold;
   position: relative;
   left: 10px;
   color:rgb(255,255,255);

}
.salarybox1div4b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 90px;
 
 
 
}
.salarybox1div4b svg{
  position: relative;
  right: 15px;
  color:rgb(209,239,220);
}
.salarybox2{

  width: 100%;
  height:800px;
  background-color: rgb(250,251,255);
  border-radius: 5px ;
 

}
.salarydiv1{
  
  width: 98%;
  height: 80px;
  margin: 20px;
  border-radius: 10px;
  /* border: 4px solid green; */
 
}
.salarydiv1 h2{
  position: relative;
  top: 10px;
  right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
   /* border: 4px solid rgb(128, 0, 2); */
   padding: 20px;
   height: 2px;
   align-items: center;
}
.salarydiv1 p{
   position: relative;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.salarydiv2
{
display:flex;
align-items: center;
width: 98%;
  height: 140px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);
  

}
.salarydiv2a
{
  display: flex;
  width:50%;
  height: 100px;

 
}
.salarydiv2a1
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 100px;

 
}
.salarydiv2a1box
{
display: flex;
align-items: center;
justify-content: center;
width:40px;
height:40px;
background: linear-gradient(270deg,rgb(53,144,212),rgb(37,188,115));
border-radius: 50%;
  
}
.salarydiv2a2
{
  width:90%;
  height: 100px;
  
}
.salarydiv2a2 ul{
  position: relative;
  top: 15px;
  list-style-type: none;
  line-height: 24px;
  
  height: 80px;
}
.salarydiv2a2 ul li{
  font-family: Arial, Helvetica, sans-serif; 
}
.salarydiv2a2 ul li h3{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
}
.salarydiv2a2 ul li p{
  color: gray;
}
.salarydiv2b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 100px;


  
}
.salarydiv2bbox1
{
  width: 150px;
  height:80px;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.salarydiv2bbox1 ul{
  list-style: none;
}
.salarydiv2bbox1 ul li{
  display: flex;
  justify-content: end;

 
}
#salarysize
{
  font-size: 15px;
}
#salarydarkp
{
  font-weight:900;
  font-size: 18px;
}
#salarygreen
{
  color: rgb(22,163,74);
  font-size: 14px;
  position: relative;
  bottom: 8px;
}
.salarydiv2bbox2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:400px;
  height:60px;
  
}
#salaryviewDetails
{
  width: 42%;
  height: 45px;
  border: 1px solid rgb(168, 168, 168);
  background-color: white;
  border-radius: 5px;
  font-size:17px;
    font-weight: 550;
    color: black;

}
#salaryviewDetails:hover
{
  background-color: rgb(241,245,249);
}
#salarymanage
{
  width: 42%;
  height: 45px;
  border: none;
  background:linear-gradient(270deg ,rgb(57,135,233),rgb(37,189,113));
  border-radius: 5px;
  font-size:16px;
  font-weight: 550;
 
  color: white;
  
}






.salarydiv3
{
display:flex;
align-items: center;
width: 98%;
  height: 140px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);

 

}
.salarydiv3a
{
  display: flex;
  width:50%;
  height: 100px;

 
}
.salarydiv3a1
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 100px;

 
}
.salarydiv3a1box
{
display: flex;
align-items: center;
justify-content: center;
width:40px;
height:40px;
background: linear-gradient(270deg,rgb(53,144,212),rgb(37,188,115));
border-radius: 50%;
  
}
.salarydiv3a2
{
  width:90%;
  height: 100px;
  
}
.salarydiv3a2 ul{
  position: relative;
  top: 15px;
  list-style-type: none;
  line-height: 24px;
  
  height: 80px;
}
.salarydiv3a2 ul li{
  font-family: Arial, Helvetica, sans-serif; 
}
.salarydiv3a2 ul li h3{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
}
.salarydiv3a2 ul li p{
  color: gray;
}
.salarydiv3b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 100px;


  
}
.salarydiv3bbox1
{
  width: 150px;
  height:80px;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.salarydiv3bbox1 ul{
  list-style: none;
}
.salarydiv3bbox1 ul li{
  display: flex;
  justify-content: end;

 
}

.salarydiv3bbox2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:400px;
  height:60px;
  
}
.salarydiv4
{
display:flex;
align-items: center;
width: 98%;
  height: 140px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);
 

}
.salarydiv4a
{
  display: flex;
  width:50%;
  height: 100px;

 
}
.salarydiv4a1
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 100px;

 
}
.salarydiv4a1box
{
display: flex;
align-items: center;
justify-content: center;
width:40px;
height:40px;
background: linear-gradient(270deg,rgb(53,144,212),rgb(37,188,115));
border-radius: 50%;
  
}
.salarydiv4a2
{
  width:90%;
  height: 100px;
  
}
.salarydiv4a2 ul{
  position: relative;
  top: 15px;
  list-style-type: none;
  line-height: 24px;
  
  height: 80px;
}
.salarydiv4a2 ul li{
  font-family: Arial, Helvetica, sans-serif; 
}
.salarydiv4a2 ul li h3{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
}
.salarydiv4a2 ul li p{
  color: gray;
}
.salarydiv4b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 100px;


  
}
.salarydiv4bbox1
{
  width: 150px;
  height:80px;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.salarydiv4bbox1 ul{
  list-style: none;
}
.salarydiv4bbox1 ul li{
  display: flex;
  justify-content: end;

 
}

.salarydiv4bbox2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:400px;
  height:60px;
  
}


.salarydiv5
{
display:flex;
align-items: center;
width: 98%;
  height: 140px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(252,253,255);
 

}
.salarydiv5a
{
  display: flex;
  width:50%;
  height: 100px;

 
}
.salarydiv5a1
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 100px;

 
}
.salarydiv5a1box
{
display: flex;
align-items: center;
justify-content: center;
width:40px;
height:40px;
background: linear-gradient(270deg,rgb(53,144,212),rgb(37,188,115));
border-radius: 50%;
  
}
.salarydiv5a2
{
  width:90%;
  height: 100px;
  
}
.salarydiv5a2 ul{
  position: relative;
  top: 15px;
  list-style-type: none;
  line-height: 24px;
  
  height: 80px;
}
.salarydiv5a2 ul li{
  font-family: Arial, Helvetica, sans-serif; 
}
.salarydiv5a2 ul li h3{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
}
.salarydiv5a2 ul li p{
  color: gray;
}
.salarydiv5b
{
  display: flex;
  align-items: center;
  justify-content: end;
  width:50%;
  height: 100px;


  
}
.salarydiv5bbox1
{
  width: 150px;
  height:80px;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.salarydiv5bbox1 ul{
  list-style: none;
}
.salarydiv5bbox1 ul li{
  display: flex;
  justify-content: end;

 
}

.salarydiv5bbox2
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:400px;
  height:60px;
  
}

