 

 .test{
  width: 100%;
  padding-bottom: 50px;
  
  /* height: 120vh; */
  /* border: 1px solid black; */
 
 }
    h1 {
      font-size: 32px;
      color: black;
      font-weight: bold;
      padding-right: 20px;
      align-items: center;
      display: flex;
      padding-bottom: 50px;
    }

    .add-btn {
      background: #0066cc;
      color: white;
      border: none;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      /* border-radius: 5px; */
      margin-left: 20px;
    }
    .add-btn:hover {
      background-color: black;
      transform: translateY(-1px);
    } 
    .test-1 {
      display: flex;
      gap: 20px;
      width:100% ;
      /* height: 350px; */
      /* border: 1px solid black; */
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;

    }

    .testprh {
      /* display: flex; */
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
      justify-content: space-around;
      gap: 20px;
      width: 400px;
      flex-wrap: wrap;
      height: auto;
      border: 1px solid #ddd;
     /* border: 1px solid black; */
    
      border-radius: 8px;
      padding: 20px;
      background: rgb(255, 255, 255);
      transition: transform 0.3s ease;

    }

    


    .testprh p {
      font-size: 15px;
      
      color: #212529;
    }

    .imgg {
      display: flex;
      align-items: center;
      /* justify-content: center; */
      flex-direction: row;
      gap: 10px;
      }

    .imgg_img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding-bottom: 10px;
    }

    .imgg h4 {
      font-size: 16px;
      color: #212529;
      
      
    }

    .linkedin {
      height: 15px;
      width: 15px;
      display: flex;
      padding-bottom: 10px;
    
    }

    .test-i {
      font-size: 14px;
      border-top: 1px solid #dee2e6;
      /* color: #212529; */
      /* display: flex; */
      /* margin-left: 20px; */
      flex-direction: column;
    
      /* align-items: center; */
      flex-wrap: wrap;

    }

    .test-i span{
      flex-direction: row;
      text-align: center;
      display: flex;
      padding-top: 10px;
    }

    .test-i-span3 {
      color: #212529;
      font-size: 16px;
      font-weight: bold;
      
      padding-left: 5px;
    }

    .test-i-span1 {
      color: #212529;
      font-size: 14px;
      flex-direction: row;
      display: flex;
      text-align: center;
      /* padding-top: 10px; */
      font-weight: 100;
    }

     .test-i-span4 {
      color: #767b84;
      font-size: 16px;
      font-weight: bold;
      padding-left: 5px;
    }

    .test-i-span2 {
      color: #767B84;
      font-size: 14px;
      flex-direction: row;
      display: flex;
      text-align: center;
      /* padding-top: 10px; */
      font-weight: 100;
    }

    .testprh:hover {
      transform: translateY(-5px);
    }


   