* {
    padding: 0px;
    margin: 0px;
}

.batch p {
    color: rgb(128, 128, 128);
}

.batch {
    margin: 2rem;
}

.Navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;

}

.Navbar ul {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-left: 1rem;
    font-size: 18px;
    color: #111111;

}

.Navbar ul li:hover {
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid #FFFFFF;
    background-color: #0099ff;
    border-radius: 5px;
    height: 30PX;

}

.midnav {
    display: flex;
    margin: 5px;
}

.mainOnline {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    background-color: #f5f5f5;
}

.listdiv {
    display: flex;
    justify-content: start;
    align-items: center;


}

.listdiv ul {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    color: #212529;
    gap: 12rem;
    margin-left: 1rem;



}

.online {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 11rem;
    margin-left: 1.5rem;
    margin-top: 10px;
}

.ll {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 11rem;
    margin-left: 1.5rem;
    margin-top: 10px;


}

.bbb{
    height: 35px;
    width: 100px;
    background: none;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 10px;
    font-size: 15px;
   
}
/* .bbb:hover{
    background-color: #0D6EFD;
} */

.ll1 { 
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 11rem;
    margin-left: 1.5rem;
    margin-top: 10px;
    background-color: #F5F5F5;

}

.searchdiv {
    background-color: #FFFFFF;
    display: flex;
    justify-content: end;
    width: 94%;
    margin-left: 1rem;
}

.searchdiv input {
    border: 1px solid gray;
    border-radius: 5px;
}

.classroom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ll2 {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 11rem;
    margin-left: 1.5rem;
    margin-top: 10px;
    background-color: #F5F5F5;

}
